/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
}
  @font-face {
  font-family: 'Inter' ;
  src: url('/assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
 font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1rem; /* 1rem = 1rem */
  background-color: #f4f7f6;
  color: #333333;
}

* {
  box-sizing: border-box;
}

/* Material Icons vertically aligned */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
