:root{
  --primary-color:#4c1f3d;
  --primary-light-color:#ffd0f9;

  --hospital-color:#10b981;
  --hospital-light-color:#d1fae5;
  
  --secondary-color:#6a1b9a;
  --secondary-light-color:#f3e5f5;

  --neutral-color:#757575;
  --neutral-light-color:#f5f5f5;

  --text-dark-color:#757575;
  --text-muted-color:#757575;

  --bg-color:#ffffff;
  --border-color:#ffd0f9;

  --error-color:#d32f2f;
  --error-bg-color:#feeceb;
}
@import 'material-icons/iconfont/material-icons.css';

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
}
  @font-face {
  font-family: 'Inter' ;
  src: url('/assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
 font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1rem; /* 1rem = 1rem */
  background-color: #f4f7f6;
  color: #333333;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fce4f5;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #e8a0d8;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #d06db8;
}

* {
  box-sizing: border-box;
}

/* Material Icons vertically aligned */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}